body {
    background-repeat: repeat;
}
img {
    height: 75px;
    width: 180px;
}
.event {
    position: absolute;
    height: 200px;
    width: 180px;
    top:150px;
    left:12px;
    font-size: 10px;
    font-weight: bold;
    color: #A40000;
    background-color: #000000;
    border-radius: 1px;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    border-style:solid;
    border-color:#000000 #000000;
}