body {
    background-image: url("../images/garage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.crewemblem {
    position: absolute;
    left: 1030px;
    top:2px;
}
.lenzgarage {
    position: absolute;
    left: 100px;
    top: 200px;
}
.lenzgarage a{
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3d5d26;
    border-radius: 30px;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.lenzgarage a:hover {
    color: #F90;
}
.bball56garage {
    position: absolute;
    left: 300px;
    top: 200px;
}
.bball56garage a{
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3d5d26;
    border-radius: 30px;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.bball56garage a:hover {
    color: #F90;
}
.porinero0garage {
    position: absolute;
    left: 500px;
    top: 200px;
}
.porinero0garage a{
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3d5d26;
    border-radius: 30px;
    text-decoration: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.porinero0garage a:hover {
    color: #F90;
}