body {
    min-width: 1240px;
    background-image: url("../images/hugemapcopy.jpg");
    background-repeat: no-repeat;
    background-size: 100%

}
h1 {
    font-family: 'pricedown_blregular', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
}
.icons {
    position: absolute;
    margin-top: 93px;
    margin-left: 737px;
}    
p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding-top: 385px;
    padding-bottom: 20px;
}     
.icons:hover {
    opacity:0.4;
    filter:alpha(opacity=40);
}

.apartment {
    display: none;
    position: absolute;
    margin-top: 100px;
    margin-left: 743px;
    border-radius: 30px
}
.menubar {
    position: relative;
    top: -30px;
    width: 1000px;
    height: 40px;
    font-size: 30px;
    font-family: 'pricedown_blregular', sans-serif;
    font-weight: bold;
    text-align: left;
    text-shadow: 3px 2px 3px #333333;
    background-color: #3d5d26;
    border-radius: 20px;
}
.menubar li { 
    display: inline; 
    padding: 30px; 
}
.menubar a {
    position: relative;
    top: 5px; 
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 8px 8px 8px;
}
.menubar a:hover {
    color: #F90;
}
.crewleader {
    position: absolute;
    left: 870px;
    top: -10px;
}
.crewemblem {
    position: absolute;
    left: 110px;
    top:20px;
}
.credits {
    position: absolute;
    margin-top: 280px;
    margin-left: 380px;
}