body {
    background-image: url("../images/hugemapcopy.jpg");
}
.icons {
    position: absolute;
    margin-top: 73px;
    margin-left: 737px;
}    
p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding-top: 395px;
    padding-bottom: 20px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}     
.icons:hover {
    opacity:0.4;
    filter:alpha(opacity=40);
}

.apartment {
    display: none;
    position: absolute;
    margin-top: 80px;
    margin-left: 743px;
    border-style:solid;
    border-color:#000000 #000000;
}
.lossantosgif {
    position: absolute;
    right:690px;
    top:430px;
    border-style:solid;
    border-color:#3d5d26 #3d5d26;
}
.credits {
    position: absolute;
    margin-top: 280px;
    margin-left: 10px;
    font-family: 'pricedown_blregular', sans-serif;
    font-size: 20px;
    color: #000000;
}
.iconplace{
    top:200px;
    left: 25px;
    position: absolute;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}