body {
    min-width: 1240px;
    background-image: url("../images/los_santos_night.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}
h1 {
    font-family: 'pricedown_blregular', sans-serif;
    font-size: 80px;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    color: #FFFFFF;
}    
.menubar {
    position: relative;
    top: -30px;
    width: 1000px;
    height: 40px;
    font-size: 30px;
    font-family: 'pricedown_blregular', sans-serif;
    font-weight: bold;
    text-align: left;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    background-color: #3d5d26;
    border-radius: 20px;
}
.menubar li { 
    display: inline; 
    padding: 30px; 
}
.menubar a {
    position: relative;
    top: 5px; 
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 8px 8px 8px;
}
.menubar a:hover {
    color: #F90;
}
.menubar a:active{
    color: #F90;
}
.crewleader {
    position: absolute;
    left: 870px;
    top: -10px;
}
.crewemblem {
    position: absolute;
    left: 110px;
    top:20px;
}

.video1 {
    position: absolute;
    top: 200px;
    left: 100px;
    border-style:solid;
    border-color:#3d5d26 #3d5d26;
}
.video2 {
    position: absolute;
    top: 200px;
    left: 750px;
    border-style:solid;
    border-color:#3d5d26 #3d5d26;
}