body {
    background-image: url("../images/los_santos_night.jpg");
}
.video1 {
    position: absolute;
    top: 200px;
    left: 100px;
    border-style:solid;
    border-color:#3d5d26 #3d5d26;
}
.video2 {
    position: absolute;
    top: 200px;
    left: 750px;
    border-style:solid;
    border-color:#3d5d26 #3d5d26;
}