body {
    background-image: url(../images/los_santos_night.jpg);
}

.mainVideosContainer {
    padding-top: 50px;
    width: 100%;
    height: 76%;
    float: left; 
  
}
.videosContainer {
    margin-right: auto;
    margin-left: auto;
  
}
.video{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    float: left;
}
.video iframe{
    border: 3px;
    border-style:solid;
    border-color:#3d5d26 #3d5d26;
}
